*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    padding-left: 3rem;
   text-decoration: none;
   color: hsl(240, 46%, 18%);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}